a {
  text-decoration: none;
}

.link {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20 px;
}

.heading {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.text {
  color: #7d7987;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.heading2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}
