@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #fff;
  font-family: Lato;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  max-width: 1600px;
  background: #222;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  padding: 18px 0;
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: 33px;
  padding: 26px 0 20px;
  padding-right: 9px;
  position: relative;
}

.navigation__right p {
  margin: 18px auto auto 22px;
}

.right__number {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  background: #f16d7f;
  border-radius: 25px;
  padding: 3px 6px;
}

.navigation__logo {
  border: none;
}

.banner {
  max-width: 1600px;
  background: #f1e4e6;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 65px;
}

.menu {
  position: absolute;
  top: 75px;
  right: -230px;
  display: none;
}

.menu-hover:hover ~.menu {
  display: block;
}

.menu__content {
  max-width: 232px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding-top: 32px;
  padding-right: 74px;
  padding-left: 33px;
  padding-bottom: 32px;
}

.menu__content h2 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.menu__button {
  color: #6f6e6e;
  font-size: 14px;
}

.menu__content h3 {
  color: #f16d7f;
  font-size: 14px;
}

.menu__categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.menu__button {
  padding-left: 21px;
}

.banner__img {
  max-width: 800px;
  max-height: 764px;
}

.banner__txt {
  display: flex;
  flex-wrap: wrap;
  max-width: 406px;
  max-height: 93px;
  padding: 0 0 0 16px;
  border-left: 12px solid #f16d7f;
  margin-top: 290px;
  margin-bottom: 381px;
}

.banner__txt h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}

.banner__txt h2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}

.h2-color {
  color: #f16d7f;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 18px;
}

.categories__button {
  width: 360px;
  height: 260px;
}

.categories__button1 {
  background-image: url(./img/categories1.svg);
  background-size: 100%;
}

.categories__button2 {
  background-image: url(./img/categories2.svg);
  background-size: 100%;
}

.categories__button3 {
  background-image: url(./img/categories3.svg);
  background-size: 100%;
}

.categories__button4 {
  height: 180px;
  grid-column: span 3;
  background-image: url(./img/categories4.svg);
  background-size: 100%;
}

.categories__shadows {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

.categories__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__txt h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.categories__txt h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.separator {
  text-align: center;
  margin-bottom: 48px;
}

.separator h2 {
  color: #222;
  font-size: 30px;
}

.separator p {
  color: #9f9f9f;
  font-size: 14px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 48px;
}

.catalog__product {
  background-color: #f8f8f8;
}
.button__img-content {
  position: relative;
}

.shadow-add-to-cart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0%;
  opacity: 0;
  transition: all 0.3s;
}

.button-add-to-cart {
  width: 139px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  opacity: 0;
}

.catalog__product:hover .button-add-to-cart {
  opacity: 1;
}

.catalog__product:hover .shadow-add-to-cart {
  opacity: 1;
}

.catalog__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.catalog__txt h2 {
  color: #000;
  font-size: 13px;
}

.catalog__txt p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.catalog__txt h3 {
  color: #f16d7f;
  font-size: 16px;
}

.btn-all {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}

.button-product {
  width: 212px;
  height: 48px;
  color: #f26376;
  font-size: 16px;
  border: 1px solid #ff6a6a;
  transition: all 0.3s;
}

.button-product:hover {
  background: #f16d7f;
  color: #ffffff;
}

.advantages {
  max-width: 1600px;
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.advantages__example {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.example__button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.example__button-txt {
  max-width: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.example__button-txt h2 {
  color: #fbfbfb;
  font-size: 19.96px;
}

.example__button-txt p {
  color: #fbfbfb;
  text-align: center;
  font-size: 13.972px;
  font-weight: 300;
}

.subscribe {
  max-width: 1600px;
  max-height: 448px;
}

.subscribe__content-background {
  background-image: url(./img/subscribe.svg);
  background-position: center;
  background-size: cover;
}

.subscribe_content-shadows {
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
}

.subscribe__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
  gap: 230px;
}

.subscribe__content-left {
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 97px;
  margin-bottom: 126px;
}

.subscribe__content-left p {
  color: #222224;
  text-align: center;
  font-size: 20px;
}

.subscribe__content-right {
  max-width: 557px;
  max-height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-top: 150px;
  margin-bottom: 156px;
}

.subscribe__content-right-text {
  display: flex;
  flex-direction: column;
}

.subscribe__content-right-text h2 {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe__content-right-text p {
  color: #222224;
  font-size: 18px;
  line-height: 167.2%;
}

.subscribe__input {
  box-sizing: border-box;
  width: 256px;
  padding: 15px;
  border: none;
  background: #e1e1e1;
  border-radius: 25px 0 0 25px;
}

.subscribe__input-button {
  box-sizing: border-box;
  width: 100px;
  padding: 15px;
  border: none;
  color: #fff;
  background: #f16d7f;
  border-radius: 0 25px 25px 0;
}

.footer {
  max-width: 1600px;
  background: #222224;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.footer__nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.45px;
  height: 32px;
  background: #ffffff;
  fill: #000;
  transition: all 0.3s;
}
.footer__nav-button:hover path {
  fill: #ffffff;
}
.footer__nav-button:hover {
  background: #f16d7f;
}

.footer__content p {
  color: #fbfbfb;
  font-size: 16px;
}

.footer__nav {
  display: flex;
  gap: 7.3px;
}

@media (max-width: 1600px) and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .hidden {
    display: none;
  }

  .navigation {
    gap: 424px;
    justify-content: center;
  }

  .header {
    max-width: 768px;
  }

  .menu {
    right: -33px;
  }

  .banner {
    max-width: 768px;
    gap: 39px;
  }

  .banner__img {
    max-width: 386px;
    max-height: 386px;
  }

  .banner__txt {
    max-width: 312px;
    max-height: 92px;
    margin-top: 138px;
    margin-bottom: 151px;
  }

  .banner__txt h1 {
    font-size: 44px;
  }
  .banner__txt h2 {
    font-size: 24px;
  }

  .categories {
    gap: 20px;
    margin-bottom: 55px;
  }

  .categories__button {
    width: 232px;
    height: 167px;
  }

  .categories__button4 {
    max-width: 735px;
    max-height: 116px;
  }

  .separator {
    margin-bottom: 72px;
  }

  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 32px;
  }

  .btn-all {
    margin-bottom: 65px;
  }

  .advantages {
    max-width: 768px;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .advantages__example {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 48px;
  }

  .subscribe {
    max-width: 768px;
    max-height: 610px;
  }

  .subscribe__content-background {
    background-image: url(./img/subscribe-foto2.svg);
    background-position: center;
    background-size: cover;
  }

  .subscribe__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column dense;
    justify-items: center;
    gap: 48px;
  }

  .subscribe__content-left {
    align-content: flex-start;
    margin-top: 64px;
    margin-bottom: 0;
  }

  .subscribe__content-right {
    margin-top: 0;
    margin-bottom: 140px;
  }

  .footer {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }

  .header {
    max-width: 375px;
  }

  .menu {
    top: 72px;
    right: -16px;
  }

  .hidden {
    display: none;
  }

  .hidden1 {
    display: none;
  }

  .banner {
    max-width: 375px;
    display: flex;
  }

  .banner__txt {
    max-width: 263px;
    padding: 0 0 0 15px;
    margin: 148px 56px;
  }

  .banner__txt h1 {
    font-size: 38px;
  }

  .banner__txt h2 {
    font-size: 20px;
  }

  .categories {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column dense;
    gap: 32px;
    margin-bottom: 64px;
  }

  .categories__button {
    width: 343px;
    height: 247px;
  }

  .categories__button4 {
    width: 343px;
    height: 111px;
    background-position: center;
    background-size: cover;
  }

  .separator {
    margin-bottom: 64px;
  }

  .catalog {
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
    margin-bottom: 40px;
  }

  .btn-all {
    margin-bottom: 96px;
  }

  .advantages {
    max-width: 375px;
    padding-top: 48px;
    padding-bottom: 81px;
  }

  .advantages__example {
    max-width: 340px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 46px;
  }

  .subscribe {
    max-width: 375px;
    max-height: 550px;
  }

  .subscribe__content-background {
    background-image: url(./img/subscribe-foto3.svg);
  }

  .subscribe__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column dense;
    justify-items: center;
    gap: 59px;
  }

  .subscribe__content-left {
    max-width: 343px;
    align-content: flex-start;
    margin-top: 64px;
    margin-bottom: 0;
  }

  .subscribe__content-left p {
    font-size: 18px;
  }

  .subscribe__content-right {
    max-width: 341px;
    margin-top: 0px;
    margin-bottom: 110px;
  }

  .subscribe__content-right p {
    font-size: 14px;
  }

  .subscribe__input {
    max-width: 240px;
  }
  .subscribe__input-button {
    max-width: 95px;
  }

  .footer {
    max-width: 375px;
  }

  .footer__content {
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 68px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}
