@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #fff;
  font-family: Lato;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  max-width: 1600px;
  background: #222;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  padding: 18px 0;
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: 33px;
  padding: 26px 0 20px;
}

.navigation__logo {
  border: none;
}

.navigation__button {
  background: none;
  border: none;
}

.banner {
  max-width: 1600px;
  background: #f1e4e6;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 65px;
}

.banner__txt {
  display: flex;
  flex-wrap: wrap;
  max-width: 406px;
  max-height: 93px;
  padding: 0 0 0 16px;
  border-left: 12px solid #f16d7f;
}

.banner__txt h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}

.banner__txt h2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}

.h2-color {
  color: #f16d7f;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 96px;
}

.categories__button {
  width: 360px;
  height: 260px;
  border: none;
}

.categories__button1 {
  background-image: url(./img/categories1.svg);
  background-size: 100%;
}

.categories__button2 {
  background-image: url(./img/categories2.svg);
  background-size: 100%;
}

.categories__button3 {
  background-image: url(./img/categories3.svg);
  background-size: 100%;
}

.categories__button4 {
  height: 180px;
  grid-column: span 3;
  background-image: url(./img/categories4.svg);
  background-size: 100%;
  border: none;
}

.categories__shadows {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}

.categories__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__txt h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.categories__txt h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.separator {
  text-align: center;
  margin-bottom: 48px;
}

.separator h2 {
  color: #222;
  font-size: 30px;
}

.separator p {
  color: #9f9f9f;
  font-size: 14px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 48px;
}

.catalog__button {
  border: none;
  background-color: #f8f8f8;
}

.catalog__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.catalog__txt h2 {
  color: #000;
  font-size: 13px;
}

.catalog__txt p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.catalog__txt h3 {
  color: #f16d7f;
  font-size: 16px;
}

.btn-all {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.button-product {
  width: 212px;
  height: 48px;
  color: #f26376;
  font-size: 16px;
  border: 1px solid #ff6a6a;
  background: none;
}

@media (max-width: 1600px) and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .header {
    max-width: 768px;
  }

  .banner {
    max-width: 768px;
    gap: 39px;
  }

  .banner__img {
    width: 100%;
    height: 100%;
  }

  .banner__txt {
    max-width: 312px;
    max-height: 92px;
  }

  .banner__txt h1 {
    font-size: 44px;
  }
  .banner__txt h2 {
    font-size: 24px;
  }

  .categories {
    gap: 20px;
    margin-bottom: 109px;
  }

  .categories__button {
    width: 232px;
    height: 167px;
  }

  .categories__button1 {
    width: 232px;
    height: 167px;
  }

  .separator {
    margin-bottom: 72;
  }

  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 32px;
  }

  .btn-all {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }

  .header {
    max-width: 375px;
  }

  .hidden {
    display: none;
  }

  .banner {
    max-width: 375px;
    display: flex;
  }

  .banner__txt {
    max-width: 263;
    padding: 0 0 0 15px;
    margin: 148px 56px;
  }

  .banner__txt h1 {
    font-size: 38px;
  }

  .banner__txt h2 {
    font-size: 20px;
  }

  .categories {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column dense;
    gap: 32px;
    margin-bottom: 64px;
  }

  .categories__button {
    width: 343px;
    height: 247px;
  }

  .categories__button4 {
    width: 343px;
    height: 111px;
    background-position: center;
    background-size: cover;
  }

  .separator {
    margin-bottom: 64px;
  }

  .catalog {
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
    margin-bottom: 40px;
  }

  .btn-all {
    margin-bottom: 85px;
  }
}
